In [17]:
import pandas as pd
import random



# Function to sort FEL chronologically
def fel_sort(FEL):
    i = len(FEL)-1
    while i > 0:
        for j in range(i):
            if FEL[j][0] == 'E':
                FEL[j],FEL[j+1] = FEL[j+1],FEL[j]
        i -= 1
    i = len(FEL)-1
    while i > 0:
        for j in range(i):
            if FEL[j][1] > FEL[j+1][1]:
                FEL[j],FEL[j+1] = FEL[j+1],FEL[j]
        i -= 1
    return FEL


# Function to generate Loading Time
def load_time( ):
    r = random.random()
    if r>=0.0 and r<=0.3:
        load_time = 5
    elif r>0.3 and r<=0.8:
        load_time = 10
    elif r>0.8 and r<=1.0:
        load_time = 15
    return load_time


# Function to generate Weighing Time
def weighing_time( ):
    r = random.random()
    if r>=0.0 and r<=0.7:
        weighing_time = 12
    elif r>0.7 and r<=1.0:
        weighing_time = 16
    return weighing_time


# Function to generate Travel Time
def travel_time( ):
    r = random.random()
    if r>=0.0 and r<=0.4:
        travel_time = 40
    elif r>0.4 and r<=0.7:
        travel_time = 60
    elif r>0.7 and r<=0.9:
        travel_time = 80
    elif r>0.9 and r<=1.0:
        travel_time = 100    
    return travel_time


# Function to remove a Dump Truck from the loading queue
def del_loading(lqueue,dt):
    lqueue.remove(dt)
    return lqueue


# Function to add a Dump Truck to the loading queue
def add_loading(lqueue,dt):
    lqueue.append(dt)
    return lqueue


# Function to add a Dump Truck into the weighing queue
def add_weigh(wqueue,dt):
    wqueue.append(dt)
    return wqueue


# Function to remove a Dump Truck from the weighing queue
def del_weigh(wqueue):
    wqueue.remove(wqueue[0])
    return wqueue


CLOCK = [ ]                 # Clock
L = [ ]                     # No. of dump trucks being loaded
LQ = [ ]                    # No. of dump trucks in loading queue
W = [ ]                     # No. of dump trucks being weighed
WQ = [ ]                    # No. of dump trucks in weighing queue
FEL_LIST = [ ]              # Future Event List
LOADING = [ ]               # List of dump trucks in the loading system
WEIGHING = [ ]              # List of dump trucks in the weighing system
BL = [ ]                    # Total busy time of both loaders
BS = [ ]                    # Total busy time of the scale


# Initial conditions
clk = 0
FEL = [('E',2000)]
l = 2
lq = 3
w = 1
wq = 0
lqueue = ['DT2', 'DT3', 'DT4', 'DT5', 'DT6']
wqueue = ['DT1']
bl = 0
bs = 0



# Simulation
while clk < 2000:
    if clk == 0:
        # At CLOCK=0, DT2 and DT3 are being loaded while DT4,DT5 and DT6 waits in loading queue and DT1 is being 
        # weighed. Therefore, loading times are generated for DT2 and DT3 and weighing time is generated for DT1.
        # The corresponding End-Loading and End-Weighing Events are scheduled and added to FEL.
        lt = load_time()
        EL = clk + lt
        FEL.append(('EL',EL,'DT2'))
        lt = load_time()
        EL = clk + lt
        FEL.append(('EL',EL,'DT3'))
        wt = weighing_time()
        EW = clk + wt
        FEL.append(('EW',EW,'DT1'))
        FEL = fel_sort(FEL)
    elif clk != 0:
        imminent_event_notice = FEL[0]
        FEL.remove(FEL[0])
        if imminent_event_notice[0] == 'EL':
            # End-Loading Event Simulation
            dt_exit_load = imminent_event_notice[2]
            if lq > 0:
                lq -= 1
                dt_to_load = lqueue[2]
                lt = load_time()
                EL = clk + lt
                FEL.append(('EL',EL,dt_to_load))
                FEL = fel_sort(FEL)
            else:
                l -= 1
            # Removing the loaded truck from the list of trucks in the loading system
            lqueue = del_loading(lqueue,dt_exit_load)
            # Adding the loaded truck to the list of trucks in the weighing system
            if w == 1:
                wq += 1
            else:
                w = 1
                wt = weighing_time()
                EW = clk + wt
                FEL.append(('EW',EW,dt_exit_load))
                FEL = fel_sort(FEL)
            wqueue = add_weigh(wqueue,dt_exit_load)
        elif imminent_event_notice[0] == 'EW':
            # End-Weighing Event Simulation
            dt_exit_weigh = imminent_event_notice[2]
            if wq > 0:
                wq -= 1
                dt_to_weigh = wqueue[1]
                wt = weighing_time()
                EW = clk + wt
                FEL.append(('EW',EW,dt_to_weigh))
                FEL = fel_sort(FEL)
            else:
                w = 0
            # Remove the weighed truck from the list of trucks in the weighing system
            wqueue = del_weigh(wqueue)
            tt = travel_time()
            ALQ = clk + tt
            FEL.append(('ALQ',ALQ,dt_exit_weigh))
            FEL = fel_sort(FEL)
        elif imminent_event_notice[0] == 'ALQ':
            # Arriving at Loading Simulation
            dt_to_arrive = imminent_event_notice[2]
            if l == 2:
                lq += 1
            else:
                l += 1
                lt = load_time()
                EL = clk + lt
                FEL.append(('EL',EL,dt_to_arrive))
                FEL = fel_sort(FEL)
            # Adding the arrived truck to the list of trucks in the loading system 
            lqueue = add_loading(lqueue,dt_to_arrive)
    L.append(l)
    LQ.append(lq)
    W.append(w)
    WQ.append(wq)
    temp = list(FEL)
    FEL_LIST.append(temp)
    temp = list(lqueue)
    LOADING.append(temp)
    temp = list(wqueue)
    WEIGHING.append(temp)
    CLOCK.append(clk)
    clk = FEL[0][1]



# Calculating total busy time of both loaders
BL.append(bl)
for i in range(1,len(CLOCK)):
    bl += L[i-1]*(CLOCK[i]-CLOCK[i-1])
    BL.append(bl)
    
# Calculating total busy time of the scale
BS.append(bs)
for i in range(1,len(CLOCK)):
    bs += W[i-1]*(CLOCK[i]-CLOCK[i-1])
    BS.append(bs)
    
# Calculating loader and scale utilizations
load_util = (BL[-1]/2)/CLOCK[-1]
scale_util = BS[-1]/CLOCK[-1]
print(f'Average loader utilization = {round(load_util,2)}')
print(f'Average scale utilization = {round(scale_util,2)}')



for i in LOADING:
    i.reverse()
for i in WEIGHING:
    i.reverse()

for i in range(len(FEL_LIST)):
    s = str(FEL_LIST[i])
    st = s[1:-1]
    FEL_LIST[i] = st
for i in range(len(LOADING)):
    s = str(LOADING[i])
    st = s[1:-1]
    LOADING[i] = st
for i in range(len(WEIGHING)):
    s = str(WEIGHING[i])
    st = s[1:-1]
    WEIGHING[i] = st



# Simulation Table
queue = pd.DataFrame( )
queue['CLOCK'] = CLOCK
queue['LQ(t)'] = LQ
queue['L(t)'] = L
queue['WQ(t)'] = WQ
queue['W(t)'] = W
queue['LOADING'] = LOADING
queue['WEIGHING'] = WEIGHING
queue['FUTURE EVENT LIST'] = FEL_LIST
queue['BL'] = BL
queue['BS'] = BS

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 50)
display(queue)

Average loader utilization = 0.3
Average scale utilization = 0.86

,CLOCK,LQ(t),L(t),WQ(t),W(t),LOADING,WEIGHING,FUTURE EVENT LIST,BL,BS
0,0,3,2,0,1,"'DT6', 'DT5', 'DT4', 'DT3', 'DT2'",'DT1',"('EL', 5, 'DT2'), ('EL', 10, 'DT3'), ('EW', 12...",0,0
1,5,2,2,1,1,"'DT6', 'DT5', 'DT4', 'DT3'","'DT2', 'DT1'","('EL', 10, 'DT3'), ('EW', 12, 'DT1'), ('EL', 1...",10,5
2,10,1,2,2,1,"'DT6', 'DT5', 'DT4'","'DT3', 'DT2', 'DT1'","('EW', 12, 'DT1'), ('EL', 15, 'DT4'), ('EL', 2...",20,10
3,12,1,2,1,1,"'DT6', 'DT5', 'DT4'","'DT3', 'DT2'","('EL', 15, 'DT4'), ('EL', 20, 'DT5'), ('EW', 2...",24,12
4,15,0,2,2,1,"'DT6', 'DT5'","'DT4', 'DT3', 'DT2'","('EL', 20, 'DT5'), ('EW', 24, 'DT2'), ('EL', 2...",30,15
5,20,0,1,3,1,'DT6',"'DT5', 'DT4', 'DT3', 'DT2'","('EW', 24, 'DT2'), ('EL', 25, 'DT6'), ('ALQ', ...",40,20
6,24,0,1,2,1,'DT6',"'DT5', 'DT4', 'DT3'","('EL', 25, 'DT6'), ('EW', 40, 'DT3'), ('ALQ', ...",44,24
7,25,0,0,3,1,,"'DT6', 'DT5', 'DT4', 'DT3'","('EW', 40, 'DT3'), ('ALQ', 84, 'DT2'), ('ALQ',...",45,25
8,40,0,0,2,1,,"'DT6', 'DT5', 'DT4'","('EW', 56, 'DT4'), ('ALQ', 80, 'DT3'), ('ALQ',...",45,40
9,56,0,0,1,1,,"'DT6', 'DT5'","('EW', 68, 'DT5'), ('ALQ', 80, 'DT3'), ('ALQ',...",45,56
10,68,0,0,0,1,,'DT6',"('ALQ', 80, 'DT3'), ('EW', 80, 'DT6'), ('ALQ',...",45,68
11,80,0,1,0,1,'DT3','DT6',"('EW', 80, 'DT6'), ('ALQ', 84, 'DT2'), ('EL', ...",45,80
12,80,0,1,0,0,'DT3',,"('ALQ', 84, 'DT2'), ('EL', 85, 'DT3'), ('ALQ',...",45,80
13,84,0,2,0,0,"'DT2', 'DT3'",,"('EL', 85, 'DT3'), ('ALQ', 92, 'DT1'), ('EL', ...",49,80
14,85,0,1,0,1,'DT2','DT3',"('ALQ', 92, 'DT1'), ('EL', 94, 'DT2'), ('ALQ',...",51,80
15,92,0,2,0,1,"'DT1', 'DT2'",'DT3',"('EL', 94, 'DT2'), ('ALQ', 96, 'DT4'), ('EW', ...",58,87
16,94,0,1,1,1,'DT1',"'DT2', 'DT3'","('ALQ', 96, 'DT4'), ('EW', 101, 'DT3'), ('EL',...",62,89
17,96,0,2,1,1,"'DT4', 'DT1'","'DT2', 'DT3'","('EW', 101, 'DT3'), ('EL', 102, 'DT1'), ('EL',...",64,91
18,101,0,2,0,1,"'DT4', 'DT1'",'DT2',"('EL', 102, 'DT1'), ('EL', 106, 'DT4'), ('EW',...",74,96
19,102,0,1,1,1,'DT4',"'DT1', 'DT2'","('EL', 106, 'DT4'), ('EW', 113, 'DT2'), ('ALQ'...",76,97
20,106,0,0,2,1,,"'DT4', 'DT1', 'DT2'","('EW', 113, 'DT2'), ('ALQ', 120, 'DT6'), ('ALQ...",80,101
21,113,0,0,1,1,,"'DT4', 'DT1'","('ALQ', 120, 'DT6'), ('EW', 125, 'DT1'), ('ALQ...",80,108
22,120,0,1,1,1,'DT6',"'DT4', 'DT1'","('EW', 125, 'DT1'), ('ALQ', 128, 'DT5'), ('EL'...",80,115
23,125,0,1,0,1,'DT6','DT4',"('ALQ', 128, 'DT5'), ('EL', 130, 'DT6'), ('EW'...",85,120
24,128,0,2,0,1,"'DT5', 'DT6'",'DT4',"('EL', 130, 'DT6'), ('EW', 137, 'DT4'), ('EL',...",88,123
25,130,0,1,1,1,'DT5',"'DT6', 'DT4'","('EW', 137, 'DT4'), ('EL', 138, 'DT5'), ('ALQ'...",92,125
26,137,0,1,0,1,'DT5','DT6',"('EL', 138, 'DT5'), ('ALQ', 141, 'DT3'), ('EW'...",99,132
27,138,0,0,1,1,,"'DT5', 'DT6'","('ALQ', 141, 'DT3'), ('EW', 149, 'DT6'), ('ALQ...",100,133
28,141,0,1,1,1,'DT3',"'DT5', 'DT6'","('EW', 149, 'DT6'), ('EL', 151, 'DT3'), ('ALQ'...",100,136
29,149,0,1,0,1,'DT3','DT5',"('EL', 151, 'DT3'), ('EW', 161, 'DT5'), ('ALQ'...",108,144
30,151,0,0,1,1,,"'DT3', 'DT5'","('EW', 161, 'DT5'), ('ALQ', 165, 'DT1'), ('ALQ...",110,146
31,161,0,0,0,1,,'DT3',"('ALQ', 165, 'DT1'), ('ALQ', 173, 'DT2'), ('EW...",110,156
32,165,0,1,0,1,'DT1','DT3',"('ALQ', 173, 'DT2'), ('EL', 175, 'DT1'), ('EW'...",110,160
33,173,0,2,0,1,"'DT2', 'DT1'",'DT3',"('EL', 175, 'DT1'), ('EW', 177, 'DT3'), ('EL',...",118,168
34,175,0,1,1,1,'DT2',"'DT1', 'DT3'","('EW', 177, 'DT3'), ('EL', 178, 'DT2'), ('ALQ'...",122,170
35,177,0,1,0,1,'DT2','DT1',"('EL', 178, 'DT2'), ('EW', 189, 'DT1'), ('ALQ'...",124,172
36,178,0,0,1,1,,"'DT2', 'DT1'","('EW', 189, 'DT1'), ('ALQ', 209, 'DT6'), ('ALQ...",125,173
37,189,0,0,0,1,,'DT2',"('EW', 201, 'DT2'), ('ALQ', 209, 'DT6'), ('ALQ...",125,184
38,201,0,0,0,0,,,"('ALQ', 209, 'DT6'), ('ALQ', 217, 'DT4'), ('AL...",125,196
39,209,0,1,0,0,'DT6',,"('EL', 214, 'DT6'), ('ALQ', 217, 'DT4'), ('ALQ...",125,196
40,214,0,0,0,1,,'DT6',"('ALQ', 217, 'DT4'), ('ALQ', 221, 'DT5'), ('EW...",130,196
41,217,0,1,0,1,'DT4','DT6',"('ALQ', 221, 'DT5'), ('EW', 226, 'DT6'), ('EL'...",130,199
42,221,0,2,0,1,"'DT5', 'DT4'",'DT6',"('EW', 226, 'DT6'), ('EL', 226, 'DT5'), ('EL',...",134,203
43,226,0,2,0,0,"'DT5', 'DT4'",,"('EL', 226, 'DT5'), ('EL', 227, 'DT4'), ('ALQ'...",144,208
44,226,0,1,0,1,'DT4','DT5',"('EL', 227, 'DT4'), ('EW', 238, 'DT5'), ('ALQ'...",144,208
45,227,0,0,1,1,,"'DT4', 'DT5'","('EW', 238, 'DT5'), ('ALQ', 257, 'DT3'), ('ALQ...",145,209
46,238,0,0,0,1,,'DT4',"('EW', 254, 'DT4'), ('ALQ', 257, 'DT3'), ('ALQ...",145,220
47,254,0,0,0,0,,,"('ALQ', 257, 'DT3'), ('ALQ', 269, 'DT1'), ('AL...",145,236
48,257,0,1,0,0,'DT3',,"('EL', 267, 'DT3'), ('ALQ', 269, 'DT1'), ('ALQ...",145,236
49,267,0,0,0,1,,'DT3',"('ALQ', 269, 'DT1'), ('EW', 279, 'DT3'), ('ALQ...",155,236
50,269,0,1,0,1,'DT1','DT3',"('EL', 274, 'DT1'), ('EW', 279, 'DT3'), ('ALQ'...",155,238
51,274,0,0,1,1,,"'DT1', 'DT3'","('EW', 279, 'DT3'), ('ALQ', 294, 'DT4'), ('ALQ...",160,243
52,279,0,0,0,1,,'DT1',"('EW', 291, 'DT1'), ('ALQ', 294, 'DT4'), ('ALQ...",160,248
53,291,0,0,0,0,,,"('ALQ', 294, 'DT4'), ('ALQ', 301, 'DT2'), ('AL...",160,260
54,294,0,1,0,0,'DT4',,"('ALQ', 301, 'DT2'), ('EL', 304, 'DT4'), ('ALQ...",160,260
55,301,0,2,0,0,"'DT2', 'DT4'",,"('EL', 304, 'DT4'), ('ALQ', 306, 'DT6'), ('EL'...",167,260
56,304,0,1,0,1,'DT2','DT4',"('ALQ', 306, 'DT6'), ('EL', 311, 'DT2'), ('EW'...",173,260
57,306,0,2,0,1,"'DT6', 'DT2'",'DT4',"('EL', 311, 'DT2'), ('EW', 316, 'DT4'), ('EL',...",175,262
58,311,0,1,1,1,'DT6',"'DT2', 'DT4'","('EW', 316, 'DT4'), ('EL', 316, 'DT6'), ('ALQ'...",185,267
59,316,0,1,0,1,'DT6','DT2',"('EL', 316, 'DT6'), ('ALQ', 318, 'DT5'), ('ALQ...",190,272
60,316,0,0,1,1,,"'DT6', 'DT2'","('ALQ', 318, 'DT5'), ('ALQ', 319, 'DT3'), ('EW...",190,272
61,318,0,1,1,1,'DT5',"'DT6', 'DT2'","('ALQ', 319, 'DT3'), ('EL', 323, 'DT5'), ('EW'...",190,274
62,319,0,2,1,1,"'DT3', 'DT5'","'DT6', 'DT2'","('EL', 323, 'DT5'), ('EW', 328, 'DT2'), ('ALQ'...",191,275
63,323,0,1,2,1,'DT3',"'DT5', 'DT6', 'DT2'","('EW', 328, 'DT2'), ('ALQ', 331, 'DT1'), ('EL'...",199,279
64,328,0,1,1,1,'DT3',"'DT5', 'DT6'","('ALQ', 331, 'DT1'), ('EL', 334, 'DT3'), ('EW'...",204,284
65,331,0,2,1,1,"'DT1', 'DT3'","'DT5', 'DT6'","('EL', 334, 'DT3'), ('EW', 340, 'DT6'), ('EL',...",207,287
66,334,0,1,2,1,'DT1',"'DT3', 'DT5', 'DT6'","('EW', 340, 'DT6'), ('EL', 341, 'DT1'), ('ALQ'...",213,290
67,340,0,1,1,1,'DT1',"'DT3', 'DT5'","('EL', 341, 'DT1'), ('EW', 352, 'DT5'), ('ALQ'...",219,296
68,341,0,0,2,1,,"'DT1', 'DT3', 'DT5'","('EW', 352, 'DT5'), ('ALQ', 368, 'DT2'), ('ALQ...",220,297
69,352,0,0,1,1,,"'DT1', 'DT3'","('EW', 364, 'DT3'), ('ALQ', 368, 'DT2'), ('ALQ...",220,308
70,364,0,0,0,1,,'DT1',"('ALQ', 368, 'DT2'), ('ALQ', 376, 'DT4'), ('AL...",220,320
71,368,0,1,0,1,'DT2','DT1',"('ALQ', 376, 'DT4'), ('ALQ', 380, 'DT6'), ('EW...",220,324
72,376,0,2,0,1,"'DT4', 'DT2'",'DT1',"('ALQ', 380, 'DT6'), ('EW', 380, 'DT1'), ('EL'...",228,332
73,380,1,2,0,1,"'DT6', 'DT4', 'DT2'",'DT1',"('EW', 380, 'DT1'), ('EL', 381, 'DT4'), ('EL',...",236,336
74,380,1,2,0,0,"'DT6', 'DT4', 'DT2'",,"('EL', 381, 'DT4'), ('EL', 383, 'DT2'), ('ALQ'...",236,336
75,381,0,2,0,1,"'DT6', 'DT2'",'DT4',"('EL', 383, 'DT2'), ('EL', 391, 'DT6'), ('EW',...",238,336
76,383,0,1,1,1,'DT6',"'DT2', 'DT4'","('EL', 391, 'DT6'), ('EW', 393, 'DT4'), ('ALQ'...",242,338
77,391,0,0,2,1,,"'DT6', 'DT2', 'DT4'","('EW', 393, 'DT4'), ('ALQ', 412, 'DT5'), ('ALQ...",250,346
78,393,0,0,1,1,,"'DT6', 'DT2'","('EW', 405, 'DT2'), ('ALQ', 412, 'DT5'), ('ALQ...",250,348
79,405,0,0,0,1,,'DT6',"('ALQ', 412, 'DT5'), ('EW', 417, 'DT6'), ('ALQ...",250,360
80,412,0,1,0,1,'DT5','DT6',"('EW', 417, 'DT6'), ('EL', 422, 'DT5'), ('ALQ'...",250,367
81,417,0,1,0,0,'DT5',,"('EL', 422, 'DT5'), ('ALQ', 424, 'DT3'), ('ALQ...",255,372
82,422,0,0,0,1,,'DT5',"('ALQ', 424, 'DT3'), ('EW', 434, 'DT5'), ('ALQ...",260,372
83,424,0,1,0,1,'DT3','DT5',"('EW', 434, 'DT5'), ('EL', 434, 'DT3'), ('ALQ'...",260,374
84,434,0,1,0,0,'DT3',,"('EL', 434, 'DT3'), ('ALQ', 453, 'DT4'), ('ALQ...",270,384
85,434,0,0,0,1,,'DT3',"('EW', 446, 'DT3'), ('ALQ', 453, 'DT4'), ('ALQ...",270,384
86,446,0,0,0,0,,,"('ALQ', 453, 'DT4'), ('ALQ', 457, 'DT6'), ('AL...",270,396
87,453,0,1,0,0,'DT4',,"('ALQ', 457, 'DT6'), ('ALQ', 460, 'DT1'), ('AL...",270,396
88,457,0,2,0,0,"'DT6', 'DT4'",,"('ALQ', 460, 'DT1'), ('ALQ', 465, 'DT2'), ('EL...",274,396
89,460,1,2,0,0,"'DT1', 'DT6', 'DT4'",,"('ALQ', 465, 'DT2'), ('EL', 467, 'DT6'), ('EL'...",280,396
90,465,2,2,0,0,"'DT2', 'DT1', 'DT6', 'DT4'",,"('EL', 467, 'DT6'), ('EL', 468, 'DT4'), ('ALQ'...",290,396
91,467,1,2,0,1,"'DT2', 'DT1', 'DT4'",'DT6',"('EL', 468, 'DT4'), ('EL', 477, 'DT1'), ('EW',...",294,396
92,468,0,2,1,1,"'DT2', 'DT1'","'DT4', 'DT6'","('EL', 477, 'DT1'), ('EL', 478, 'DT2'), ('EW',...",296,397
93,477,0,1,2,1,'DT2',"'DT1', 'DT4', 'DT6'","('EL', 478, 'DT2'), ('EW', 479, 'DT6'), ('ALQ'...",314,406
94,478,0,0,3,1,,"'DT2', 'DT1', 'DT4', 'DT6'","('EW', 479, 'DT6'), ('ALQ', 486, 'DT3'), ('ALQ...",315,407
95,479,0,0,2,1,,"'DT2', 'DT1', 'DT4'","('ALQ', 486, 'DT3'), ('EW', 491, 'DT4'), ('ALQ...",315,408
96,486,0,1,2,1,'DT3',"'DT2', 'DT1', 'DT4'","('EW', 491, 'DT4'), ('EL', 491, 'DT3'), ('ALQ'...",315,415
97,491,0,1,1,1,'DT3',"'DT2', 'DT1'","('EL', 491, 'DT3'), ('ALQ', 494, 'DT5'), ('EW'...",320,420
98,491,0,0,2,1,,"'DT3', 'DT2', 'DT1'","('ALQ', 494, 'DT5'), ('EW', 503, 'DT1'), ('ALQ...",320,420
99,494,0,1,2,1,'DT5',"'DT3', 'DT2', 'DT1'","('EW', 503, 'DT1'), ('EL', 504, 'DT5'), ('ALQ'...",320,423
100,503,0,1,1,1,'DT5',"'DT3', 'DT2'","('EL', 504, 'DT5'), ('EW', 515, 'DT2'), ('ALQ'...",329,432
101,504,0,0,2,1,,"'DT5', 'DT3', 'DT2'","('EW', 515, 'DT2'), ('ALQ', 531, 'DT4'), ('ALQ...",330,433
102,515,0,0,1,1,,"'DT5', 'DT3'","('EW', 527, 'DT3'), ('ALQ', 531, 'DT4'), ('ALQ...",330,444
103,527,0,0,0,1,,'DT5',"('ALQ', 531, 'DT4'), ('ALQ', 539, 'DT6'), ('AL...",330,456
104,531,0,1,0,1,'DT4','DT5',"('EL', 536, 'DT4'), ('ALQ', 539, 'DT6'), ('ALQ...",330,460
105,536,0,0,1,1,,"'DT4', 'DT5'","('ALQ', 539, 'DT6'), ('ALQ', 543, 'DT1'), ('EW...",335,465
106,539,0,1,1,1,'DT6',"'DT4', 'DT5'","('ALQ', 543, 'DT1'), ('EW', 543, 'DT5'), ('EL'...",335,468
107,543,0,2,1,1,"'DT1', 'DT6'","'DT4', 'DT5'","('EW', 543, 'DT5'), ('EL', 548, 'DT1'), ('EL',...",339,472
108,543,0,2,0,1,"'DT1', 'DT6'",'DT4',"('EL', 548, 'DT1'), ('EL', 549, 'DT6'), ('EW',...",339,472
109,548,0,1,1,1,'DT6',"'DT1', 'DT4'","('EL', 549, 'DT6'), ('EW', 555, 'DT4'), ('ALQ'...",349,477
110,549,0,0,2,1,,"'DT6', 'DT1', 'DT4'","('EW', 555, 'DT4'), ('ALQ', 567, 'DT3'), ('ALQ...",350,478
111,555,0,0,1,1,,"'DT6', 'DT1'","('ALQ', 567, 'DT3'), ('EW', 567, 'DT1'), ('ALQ...",350,484
112,567,0,1,1,1,'DT3',"'DT6', 'DT1'","('EW', 567, 'DT1'), ('EL', 572, 'DT3'), ('ALQ'...",350,496
113,567,0,1,0,1,'DT3','DT6',"('EL', 572, 'DT3'), ('ALQ', 575, 'DT2'), ('EW'...",350,496
114,572,0,0,1,1,,"'DT3', 'DT6'","('ALQ', 575, 'DT2'), ('EW', 579, 'DT6'), ('ALQ...",355,501
115,575,0,1,1,1,'DT2',"'DT3', 'DT6'","('EW', 579, 'DT6'), ('EL', 585, 'DT2'), ('ALQ'...",355,504
116,579,0,1,0,1,'DT2','DT3',"('EL', 585, 'DT2'), ('ALQ', 595, 'DT4'), ('EW'...",359,508
117,585,0,0,1,1,,"'DT2', 'DT3'","('ALQ', 595, 'DT4'), ('EW', 595, 'DT3'), ('ALQ...",365,514
118,595,0,1,1,1,'DT4',"'DT2', 'DT3'","('EW', 595, 'DT3'), ('EL', 600, 'DT4'), ('ALQ'...",365,524
119,595,0,1,0,1,'DT4','DT2',"('EL', 600, 'DT4'), ('ALQ', 603, 'DT5'), ('ALQ...",365,524
120,600,0,0,1,1,,"'DT4', 'DT2'","('ALQ', 603, 'DT5'), ('ALQ', 607, 'DT1'), ('EW...",370,529
121,603,0,1,1,1,'DT5',"'DT4', 'DT2'","('ALQ', 607, 'DT1'), ('EW', 611, 'DT2'), ('EL'...",370,532
122,607,0,2,1,1,"'DT1', 'DT5'","'DT4', 'DT2'","('EW', 611, 'DT2'), ('EL', 612, 'DT1'), ('EL',...",374,536
123,611,0,2,0,1,"'DT1', 'DT5'",'DT4',"('EL', 612, 'DT1'), ('EL', 613, 'DT5'), ('EW',...",382,540
124,612,0,1,1,1,'DT5',"'DT1', 'DT4'","('EL', 613, 'DT5'), ('EW', 623, 'DT4'), ('ALQ'...",384,541
125,613,0,0,2,1,,"'DT5', 'DT1', 'DT4'","('EW', 623, 'DT4'), ('ALQ', 659, 'DT6'), ('ALQ...",385,542
126,623,0,0,1,1,,"'DT5', 'DT1'","('EW', 635, 'DT1'), ('ALQ', 659, 'DT6'), ('ALQ...",385,552
127,635,0,0,0,1,,'DT5',"('EW', 651, 'DT5'), ('ALQ', 659, 'DT6'), ('ALQ...",385,564
128,651,0,0,0,0,,,"('ALQ', 659, 'DT6'), ('ALQ', 671, 'DT2'), ('AL...",385,580
129,659,0,1,0,0,'DT6',,"('EL', 669, 'DT6'), ('ALQ', 671, 'DT2'), ('ALQ...",385,580
130,669,0,0,0,1,,'DT6',"('ALQ', 671, 'DT2'), ('ALQ', 675, 'DT3'), ('EW...",395,580
131,671,0,1,0,1,'DT2','DT6',"('ALQ', 675, 'DT3'), ('EL', 676, 'DT2'), ('EW'...",395,582
132,675,0,2,0,1,"'DT3', 'DT2'",'DT6',"('EL', 676, 'DT2'), ('EL', 680, 'DT3'), ('EW',...",399,586
133,676,0,1,1,1,'DT3',"'DT2', 'DT6'","('EL', 680, 'DT3'), ('EW', 685, 'DT6'), ('ALQ'...",401,587
134,680,0,0,2,1,,"'DT3', 'DT2', 'DT6'","('EW', 685, 'DT6'), ('ALQ', 691, 'DT5'), ('ALQ...",405,591
135,685,0,0,1,1,,"'DT3', 'DT2'","('ALQ', 691, 'DT5'), ('EW', 697, 'DT2'), ('ALQ...",405,596
136,691,0,1,1,1,'DT5',"'DT3', 'DT2'","('EW', 697, 'DT2'), ('EL', 701, 'DT5'), ('ALQ'...",405,602
137,697,0,1,0,1,'DT5','DT3',"('EL', 701, 'DT5'), ('EW', 709, 'DT3'), ('ALQ'...",411,608
138,701,0,0,1,1,,"'DT5', 'DT3'","('EW', 709, 'DT3'), ('ALQ', 723, 'DT4'), ('ALQ...",415,612
139,709,0,0,0,1,,'DT5',"('EW', 721, 'DT5'), ('ALQ', 723, 'DT4'), ('ALQ...",415,620
140,721,0,0,0,0,,,"('ALQ', 723, 'DT4'), ('ALQ', 725, 'DT6'), ('AL...",415,632
141,723,0,1,0,0,'DT4',,"('ALQ', 725, 'DT6'), ('EL', 733, 'DT4'), ('ALQ...",415,632
142,725,0,2,0,0,"'DT6', 'DT4'",,"('EL', 730, 'DT6'), ('EL', 733, 'DT4'), ('ALQ'...",417,632
143,730,0,1,0,1,'DT4','DT6',"('EL', 733, 'DT4'), ('ALQ', 735, 'DT1'), ('EW'...",427,632
144,733,0,0,1,1,,"'DT4', 'DT6'","('ALQ', 735, 'DT1'), ('EW', 746, 'DT6'), ('ALQ...",430,635
145,735,0,1,1,1,'DT1',"'DT4', 'DT6'","('EL', 745, 'DT1'), ('EW', 746, 'DT6'), ('ALQ'...",430,637
146,745,0,0,2,1,,"'DT1', 'DT4', 'DT6'","('EW', 746, 'DT6'), ('ALQ', 749, 'DT3'), ('ALQ...",440,647
147,746,0,0,1,1,,"'DT1', 'DT4'","('ALQ', 749, 'DT3'), ('ALQ', 757, 'DT2'), ('EW...",440,648
148,749,0,1,1,1,'DT3',"'DT1', 'DT4'","('ALQ', 757, 'DT2'), ('EW', 758, 'DT4'), ('EL'...",440,651
149,757,0,2,1,1,"'DT2', 'DT3'","'DT1', 'DT4'","('EW', 758, 'DT4'), ('EL', 764, 'DT3'), ('EL',...",448,659
150,758,0,2,0,1,"'DT2', 'DT3'",'DT1',"('EL', 764, 'DT3'), ('EW', 770, 'DT1'), ('EL',...",450,660
151,764,0,1,1,1,'DT2',"'DT3', 'DT1'","('EW', 770, 'DT1'), ('EL', 772, 'DT2'), ('ALQ'...",462,666
152,770,0,1,0,1,'DT2','DT3',"('EL', 772, 'DT2'), ('ALQ', 786, 'DT6'), ('EW'...",468,672
153,772,0,0,1,1,,"'DT2', 'DT3'","('ALQ', 786, 'DT6'), ('EW', 786, 'DT3'), ('ALQ...",470,674
154,786,0,1,1,1,'DT6',"'DT2', 'DT3'","('EW', 786, 'DT3'), ('EL', 796, 'DT6'), ('ALQ'...",470,688
155,786,0,1,0,1,'DT6','DT2',"('EL', 796, 'DT6'), ('ALQ', 798, 'DT4'), ('ALQ...",470,688
156,796,0,0,1,1,,"'DT6', 'DT2'","('ALQ', 798, 'DT4'), ('ALQ', 801, 'DT5'), ('EW...",480,698
157,798,0,1,1,1,'DT4',"'DT6', 'DT2'","('ALQ', 801, 'DT5'), ('EW', 802, 'DT2'), ('EL'...",480,700
158,801,0,2,1,1,"'DT5', 'DT4'","'DT6', 'DT2'","('EW', 802, 'DT2'), ('EL', 808, 'DT4'), ('ALQ'...",483,703
159,802,0,2,0,1,"'DT5', 'DT4'",'DT6',"('EL', 808, 'DT4'), ('ALQ', 810, 'DT1'), ('EL'...",485,704
160,808,0,1,1,1,'DT5',"'DT4', 'DT6'","('ALQ', 810, 'DT1'), ('EL', 811, 'DT5'), ('EW'...",497,710
161,810,0,2,1,1,"'DT1', 'DT5'","'DT4', 'DT6'","('EL', 811, 'DT5'), ('EW', 814, 'DT6'), ('EL',...",499,712
162,811,0,1,2,1,'DT1',"'DT5', 'DT4', 'DT6'","('EW', 814, 'DT6'), ('EL', 820, 'DT1'), ('ALQ'...",501,713
163,814,0,1,1,1,'DT1',"'DT5', 'DT4'","('EL', 820, 'DT1'), ('EW', 830, 'DT4'), ('ALQ'...",504,716
164,820,0,0,2,1,,"'DT1', 'DT5', 'DT4'","('EW', 830, 'DT4'), ('ALQ', 842, 'DT2'), ('ALQ...",510,722
165,830,0,0,1,1,,"'DT1', 'DT5'","('ALQ', 842, 'DT2'), ('EW', 842, 'DT5'), ('ALQ...",510,732
166,842,0,1,1,1,'DT2',"'DT1', 'DT5'","('EW', 842, 'DT5'), ('EL', 847, 'DT2'), ('ALQ'...",510,744
167,842,0,1,0,1,'DT2','DT1',"('EL', 847, 'DT2'), ('ALQ', 854, 'DT6'), ('EW'...",510,744
168,847,0,0,1,1,,"'DT2', 'DT1'","('ALQ', 854, 'DT6'), ('EW', 854, 'DT1'), ('ALQ...",515,749
169,854,0,1,1,1,'DT6',"'DT2', 'DT1'","('EW', 854, 'DT1'), ('EL', 869, 'DT6'), ('ALQ'...",515,756
170,854,0,1,0,1,'DT6','DT2',"('EW', 866, 'DT2'), ('EL', 869, 'DT6'), ('ALQ'...",515,756
171,866,0,1,0,0,'DT6',,"('EL', 869, 'DT6'), ('ALQ', 882, 'DT5'), ('ALQ...",527,768
172,869,0,0,0,1,,'DT6',"('EW', 881, 'DT6'), ('ALQ', 882, 'DT5'), ('ALQ...",530,768
173,881,0,0,0,0,,,"('ALQ', 882, 'DT5'), ('ALQ', 886, 'DT3'), ('AL...",530,780
174,882,0,1,0,0,'DT5',,"('ALQ', 886, 'DT3'), ('ALQ', 890, 'DT4'), ('EL...",530,780
175,886,0,2,0,0,"'DT3', 'DT5'",,"('ALQ', 890, 'DT4'), ('EL', 892, 'DT5'), ('EL'...",534,780
176,890,1,2,0,0,"'DT4', 'DT3', 'DT5'",,"('EL', 892, 'DT5'), ('EL', 896, 'DT3'), ('ALQ'...",542,780
177,892,0,2,0,1,"'DT4', 'DT3'",'DT5',"('EL', 896, 'DT3'), ('EL', 897, 'DT4'), ('EW',...",546,780
178,896,0,1,1,1,'DT4',"'DT3', 'DT5'","('EL', 897, 'DT4'), ('EW', 904, 'DT5'), ('ALQ'...",554,784
179,897,0,0,2,1,,"'DT4', 'DT3', 'DT5'","('EW', 904, 'DT5'), ('ALQ', 906, 'DT2'), ('ALQ...",555,785
180,904,0,0,1,1,,"'DT4', 'DT3'","('ALQ', 906, 'DT2'), ('EW', 916, 'DT3'), ('ALQ...",555,792
181,906,0,1,1,1,'DT2',"'DT4', 'DT3'","('EW', 916, 'DT3'), ('EL', 921, 'DT2'), ('ALQ'...",555,794
182,916,0,1,0,1,'DT2','DT4',"('EL', 921, 'DT2'), ('EW', 928, 'DT4'), ('ALQ'...",565,804
183,921,0,0,1,1,,"'DT2', 'DT4'","('EW', 928, 'DT4'), ('ALQ', 934, 'DT1'), ('ALQ...",570,809
184,928,0,0,0,1,,'DT2',"('ALQ', 934, 'DT1'), ('EW', 940, 'DT2'), ('ALQ...",570,816
185,934,0,1,0,1,'DT1','DT2',"('EW', 940, 'DT2'), ('EL', 944, 'DT1'), ('ALQ'...",570,822
186,940,0,1,0,0,'DT1',,"('EL', 944, 'DT1'), ('ALQ', 964, 'DT5'), ('ALQ...",576,828
187,944,0,0,0,1,,'DT1',"('EW', 956, 'DT1'), ('ALQ', 964, 'DT5'), ('ALQ...",580,828
188,956,0,0,0,0,,,"('ALQ', 964, 'DT5'), ('ALQ', 968, 'DT4'), ('AL...",580,840
189,964,0,1,0,0,'DT5',,"('ALQ', 968, 'DT4'), ('EL', 974, 'DT5'), ('ALQ...",580,840
190,968,0,2,0,0,"'DT4', 'DT5'",,"('EL', 974, 'DT5'), ('EL', 978, 'DT4'), ('ALQ'...",584,840
191,974,0,1,0,1,'DT4','DT5',"('EL', 978, 'DT4'), ('ALQ', 981, 'DT6'), ('EW'...",596,840
192,978,0,0,1,1,,"'DT4', 'DT5'","('ALQ', 981, 'DT6'), ('EW', 990, 'DT5'), ('ALQ...",600,844
193,981,0,1,1,1,'DT6',"'DT4', 'DT5'","('EW', 990, 'DT5'), ('EL', 996, 'DT6'), ('ALQ'...",600,847
194,990,0,1,0,1,'DT6','DT4',"('EL', 996, 'DT6'), ('EW', 1002, 'DT4'), ('ALQ...",609,856
195,996,0,0,1,1,,"'DT6', 'DT4'","('EW', 1002, 'DT4'), ('ALQ', 1016, 'DT3'), ('A...",615,862
196,1002,0,0,0,1,,'DT6',"('EW', 1014, 'DT6'), ('ALQ', 1016, 'DT3'), ('A...",615,868
197,1014,0,0,0,0,,,"('ALQ', 1016, 'DT3'), ('ALQ', 1016, 'DT1'), ('...",615,880
198,1016,0,1,0,0,'DT3',,"('ALQ', 1016, 'DT1'), ('ALQ', 1020, 'DT2'), ('...",615,880
199,1016,0,2,0,0,"'DT1', 'DT3'",,"('ALQ', 1020, 'DT2'), ('EL', 1026, 'DT3'), ('E...",615,880
200,1020,1,2,0,0,"'DT2', 'DT1', 'DT3'",,"('EL', 1026, 'DT3'), ('EL', 1026, 'DT1'), ('AL...",623,880
201,1026,0,2,0,1,"'DT2', 'DT1'",'DT3',"('EL', 1026, 'DT1'), ('EL', 1031, 'DT2'), ('EW...",635,880
202,1026,0,1,1,1,'DT2',"'DT1', 'DT3'","('EL', 1031, 'DT2'), ('EW', 1038, 'DT3'), ('AL...",635,880
203,1031,0,0,2,1,,"'DT2', 'DT1', 'DT3'","('EW', 1038, 'DT3'), ('ALQ', 1042, 'DT4'), ('A...",640,885
204,1038,0,0,1,1,,"'DT2', 'DT1'","('ALQ', 1042, 'DT4'), ('EW', 1054, 'DT1'), ('A...",640,892
205,1042,0,1,1,1,'DT4',"'DT2', 'DT1'","('EL', 1047, 'DT4'), ('EW', 1054, 'DT1'), ('AL...",640,896
206,1047,0,0,2,1,,"'DT4', 'DT2', 'DT1'","('EW', 1054, 'DT1'), ('ALQ', 1070, 'DT5'), ('A...",645,901
207,1054,0,0,1,1,,"'DT4', 'DT2'","('EW', 1066, 'DT2'), ('ALQ', 1070, 'DT5'), ('A...",645,908
208,1066,0,0,0,1,,'DT4',"('ALQ', 1070, 'DT5'), ('EW', 1078, 'DT4'), ('A...",645,920
209,1070,0,1,0,1,'DT5','DT4',"('EW', 1078, 'DT4'), ('EL', 1080, 'DT5'), ('AL...",645,924
210,1078,0,1,0,0,'DT5',,"('EL', 1080, 'DT5'), ('ALQ', 1094, 'DT6'), ('A...",653,932
211,1080,0,0,0,1,,'DT5',"('ALQ', 1094, 'DT6'), ('ALQ', 1094, 'DT1'), ('...",655,932
212,1094,0,1,0,1,'DT6','DT5',"('ALQ', 1094, 'DT1'), ('EW', 1096, 'DT5'), ('E...",655,946
213,1094,0,2,0,1,"'DT1', 'DT6'",'DT5',"('EW', 1096, 'DT5'), ('EL', 1104, 'DT6'), ('EL...",655,946
214,1096,0,2,0,0,"'DT1', 'DT6'",,"('EL', 1104, 'DT6'), ('EL', 1104, 'DT1'), ('AL...",659,948